.marker-icon{
    border-radius: 10px;
    max-width: 50px;
}

.marker-icon > img {
    width: 5vw !important;
    border-radius: 10px;
    border: solid white 1px;
    box-shadow: gray 1px 1px 10px;
    z-index: 0;
}

.marker-icon:active > img, .marker-icon:hover >img{
    width:10vw !important;
    z-index: 10 !important;
    max-width: 125px;
}

.popup-icon-rel{
    height:150px;
    max-width: 150px !important;
    width:150px !important;
    overflow: auto;
}
g > .leaflet-interactive {
    opacity: 0.3;
}

.overflow-control-p, .overflow-control-p.true{
    overflow: hidden;
}

.overflow-control-p.false {
    overflow:auto !important;
}

.map-overlay{
    z-index: 10000;
    top: 10vh;
    position: absolute;
    width: 90vw !important;
    cursor: default;
    margin-left: 5vw;
    box-shadow: 1px 1px 20px 20px gray;
    border-radius: 6px;
    font-family: system-ui;
    font-size: 1.25em;
    background: radial-gradient(#4306d175, black, #4306d175) !important;
}

.map-overlay > .modal {
    background: linear-gradient(90deg, rgb(245, 245, 245), rgba(255, 255, 255, 0.85)) !important;
}

.leaflet-marker-icon, .marker-svg-wrapper{
    background: transparent !important;
    border: transparent !important;
}

.marker-icon.active{
    z-index: 100000 !important;
}

@media screen and (max-width: 768px) {
    .marker-icon > img {
        width: 20vw !important;
        border-radius: 10px;
        border: solid white 1px;
        box-shadow: gray 1px 1px 10px;
    }
    
    .marker-icon:active > img, .marker-icon:hover >img{
        width:40vw !important;
    }
}