/* General Body and Font Setup */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* Primary and fallback fonts */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  position: relative;
}


/* Code Styling */
code {
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Header */
h1 {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 2.5em;
  margin: 0.67em 0;
  text-align: center;
}

/* Button Styles */
.button {
  background-color: #00FFA3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.button:hover {
  background-color: #DC1FFF;
  /* Purple Dino on hover */
  transform: scale(1.05);
  /* Slight hover effect */
}

.button:active {
  transform: scale(1);
  /* Ensure the button doesn't keep scaling when clicked */
}

/* Container for button and token list */
.container {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  align-items: flex-end;
  /* Align items to the end */
}

/* Token List Styling */
.token-list {
  margin: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 49vh;
  overflow-y: scroll;
}

.token-item {
  border-bottom: 1px solid #ddd;
  /* Divider between tokens */
  padding: 10px 0;
  min-height: 8vh;
}

.token-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.token-container div {
  width: 33%;
}

.token-container div:nth-child(1) {
  text-align: left;
}

.token-container div:nth-child(2) {
  text-align: center;
}

.token-container div:nth-child(3) {
  text-align: end;
}

.token-item:last-child {
  border-bottom: none;
  /* Remove divider for the last item */
}

.token-item:hover {
  transform: scale(1.05);
  /* Slight hover effect */
}

/* Token Details */
.token-item span {
  display: block;
  color: #ffffff;
  /* Darker text color for token details */
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Add ellipsis for overflow text */
}

.token-item img {
  border-radius: 50%;
  width: 120%;
  height: 9vh;
}

/* Items Container */
.items-container {
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10%;
}

.item {
  background-color: #f4f4f4;
  padding: 15px;
  margin: 8px;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.selected-item {
  background-color: #ddd7d72b;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    background: linear-gradient(0deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  10% {

    background: linear-gradient(1deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  20% {

    background: linear-gradient(2deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  30% {

    background: linear-gradient(3deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  40% {

    background: linear-gradient(4deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  50% {
    transform: scale(1.2);
    background: linear-gradient(5deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  60% {

    background: linear-gradient(4deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  70% {

    background: linear-gradient(3deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  80% {

    background: linear-gradient(2deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  90% {

    background: linear-gradient(1deg, #00ffa3eb, #a100ffad, #4A90E2);
  }

  100% {
    transform: scale(1);
    background: linear-gradient(0deg, #00ffa3eb, #a100ffad, #4A90E2);
  }
}

@keyframes textAnimation {
  0% {
    color: #beb7b7;
  }

  50% {
    color: white;
  }

  100% {
    color: #beb7b7;
  }
}

.selected-item h3,
.selected-item p {
  color: #ffffff;
  animation: textAnimation 5s infinite;
  text-shadow: 2px 2px black;
}

.selected-item-wrapper {
  padding: 1px;
  border-radius: 15px;
  border-color: #49494945;
  background: linear-gradient(to top, #00ffa3eb, #a100ffad, #4A90E2);
  box-shadow: black 5px 3px 10px 1px;
  margin-top: 7cqmax;
  animation: scaleAnimation 5s infinite;
}

/* Banner Styling */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to top, #4A90E2, rgba(74, 144, 226, .75) 70%);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom-style: ridge;
  border-bottom-color: #2d4e858a;
  border-bottom-width: medium;
  box-shadow: #972ad2e0 -20px -6px 20px 4px;
}

.site-title {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* Secondary font for banner title */
  font-size: 24px;
}

.connect-button {
  background-color: #ab9ff2;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  max-width: 12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  min-width: 11em;
}

.connect-button-wrapper {
  border-radius: 7.5px;
  border-color: #7fffd412;
  box-shadow: rgb(0, 0, 0) -6px 5px 20px 2px;
}

.connect-button:hover {
  background-color: #03E1FF;
  /* Ocean Blue on hover */
}

.transaction-confirmed {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 2.5%;
  margin-inline: 25%;
  border: #a100ff;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  background: linear-gradient(45deg, #03e1ff, #00ffa3);
}

/* Wallet Adapter Hidden Styles */
.wallet-adapter-dropdown-list,
.wallet-adapter-modal-title,
.wallet-adapter-modal-wrapper,
.wallet-adapter-button-trigger {
  display: none;
}

/* Spinner (Loader) */
.spinner {
  margin-left: 45%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #272727;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Form Inputs - Buttons and Textareas */
button,
input,
select,
textarea {
  font-family: inherit;
  /* Inherit font */
  font-size: inherit;
  /* Inherit font size */
  margin: 0;
  /* Remove margin */
  padding: 0;
  /* Reset padding */
}

button,
html input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
  /* Ensure consistent button appearance */
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  /* Remove pointer cursor for disabled elements */
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  /* Remove default padding */
}

/* Reset Input Field Box Sizing */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/* Table Adjustments */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.connection-status {
  text-wrap-mode: wrap;
  max-width: 100px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it sits above other content */
}

/* Modal Style */
.modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.payment-method-wrapper {
  background: linear-gradient(229deg, #270157, #270157, #270157, #181717, #000000, #181616, #ab9ff2, #ab9ff2);
  padding: 15px 40px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Styling for the <h3> element */
.payment-method-wrapper h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: white;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover effect for <h3> */
.payment-method-wrapper:hover h3 {
  color: #fff;
  transform: scale(1.05);
  /* Slight scale effect */
}

/* Additional styles for the div */
.payment-method-wrapper::before {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 2px;
}

.copy-btn {
  background-color: #4caf4f00;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  float: right;
}

.copy-btn:hover {
  background-color: #000000;
}

/* SVG icon styling */
.copy-btn svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.copy-wrapper {
  position: absolute;
  top: 14vh;
  right: 0;
  max-width: 15%;
}

.copy-wrapper div {
  color: white;
  background: black;
  box-shadow: #454545 2px 2px 2px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.token-list-wrapper {
  display: flex;
  justify-content: space-evenly;
}